@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Configurations.AccAdvanceDepositeReport.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new VistaGL.Configurations.AccAdvanceDepositeReportGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>