{
    "RootNamespace": "VistaGL",
    "Connections": [
        {
            "Key": "ACCDB",
            "ConnectionString": "Data Source=TVLLAP20; Initial Catalog=ERP_BEPZA; User Id=sa; Password=sa1234;Connection Timeout=60;",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.acc_Accounting_Period_Information",
                    "Identifier": "AccAccountingPeriodInformation",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_FundControlInformation",
                    "Identifier": "AccFundControlInformation",
                    "Module": "Accdb",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_BankAccountInformation",
                    "Identifier": "AccBankAccountInformation",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_BankBranchInformation",
                    "Identifier": "AccBankBranchInformation",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_BankInformation",
                    "Identifier": "AccBankInformation",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_currency_conversion",
                    "Identifier": "AccCurrencyConversion",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_voucher_type",
                    "Identifier": "AccVoucherType",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_transaction_type",
                    "Identifier": "AccTransactionType",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_ChartofAccounts",
                    "Identifier": "AccChartofAccounts",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_transaction_type_assign",
                    "Identifier": "AccTransactionTypeAssign",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_Cost_Centre_or_Institute_Information",
                    "Identifier": "AccCostCentreOrInstituteInformation",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_ChequeBook",
                    "Identifier": "AccChequeBook",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_ChequeRegister",
                    "Identifier": "AccBankAdviceLetter",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_cheque_receive_register",
                    "Identifier": "AccChequeReceiveRegister",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_voucher_details",
                    "Identifier": "AccVoucherDetails",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_voucher_information",
                    "Identifier": "AccChequePreparation",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_voucher_dtl_bill_ref",
                    "Identifier": "AccVoucherDtlBillRef",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_voucher_dtl_allocation",
                    "Identifier": "AccVoucherDtlAllocation",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_Budget_Submission",
                    "Identifier": "AccBudgetSubmission",
                    "Module": "Accdb",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_Budget_Submission_Detail",
                    "Identifier": "AccBudgetSubmissionDetail",
                    "Module": "Accdb",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_bank_reconciliation_direct",
                    "Identifier": "AccBankReconciliationDirect",
                    "Module": "Accdb",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_currency_conversion_rate",
                    "Identifier": "AccCurrencyConversionRate",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_Voucher_Configuration",
                    "Identifier": "AccVoucherConfiguration",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_Transaction_type_Assign_Master",
                    "Identifier": "AccTransactionTypeAssignMaster",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_common_description",
                    "Identifier": "AccCommonDescription",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_CostCenterType",
                    "Identifier": "AccCostCenterType",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_VoucherTemplate",
                    "Identifier": "AccVoucherTemplate",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_BudgetDepartmentInfo",
                    "Identifier": "AccBudgetDepartmentInfo",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_UnitType",
                    "Identifier": "AccUnitType",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.PRM_ZoneInfo",
                    "Identifier": "PrmZoneInfo",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_OpeningBalance",
                    "Identifier": "AccOpeningBalance",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_CostCenterOpeningBalance",
                    "Identifier": "AccCostCenterOpeningBalance",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.APV_ApplicationInformation",
                    "Identifier": "ApvApplicationInformation",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_view_Budget",
                    "Identifier": "AccViewBudget",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_view_BudgetDetails",
                    "Identifier": "AccViewBudgetDetails",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_BudgetHQItems",
                    "Identifier": "AccBudgetHqItems",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_BudgetHQItemsDetails",
                    "Identifier": "AccBudgetHqItemsDetails",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_BudgetHQMaster",
                    "Identifier": "AccBudgetHqMaster",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_VoucherAPIConfigDetails",
                    "Identifier": "AccVoucherApiConfigDetails",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_VoucherAPIConfig",
                    "Identifier": "AccVoucherApiConfig",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_VoucherAPIDetails",
                    "Identifier": "AccVoucherApiDetails",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_VoucherAPI",
                    "Identifier": "AccVoucherApi",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.PRM_EmploymentInfo",
                    "Identifier": "PrmEmploymentInfo",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_EmpAdvance",
                    "Identifier": "AccEmpAdvance",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_View_ProjectList",
                    "Identifier": "AccViewProjectList",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.test1",
                    "Identifier": "Test1",
                    "Module": "Accdb",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_BudgetZoneItemsDetails",
                    "Identifier": "AccBudgetZoneItemsDetails",
                    "Module": "Accdb",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_view_BudgetDetailsDept",
                    "Identifier": "AccViewBudgetDetailsDept",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_view_budgetZone",
                    "Identifier": "AccViewBudgetZone",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_PartyPayment",
                    "Identifier": "AccPartyPayment",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_voucher_attachment",
                    "Identifier": "AccVoucherAttachment",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_BankAdviceLetterTemplate",
                    "Identifier": "AccBankAdviceLetterTemplate",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_ChartofAcc_CostCenter_OpeningBalance",
                    "Identifier": "AccChartofAccCostCenterOpeningBalance",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_CoA_CostCenterOpeningBalance",
                    "Identifier": "AccCoACostCenterOpeningBalance",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_Budget_Group",
                    "Identifier": "AccBudgetGroup",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_MoneyReceipt",
                    "Identifier": "AccTest",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_FixedAsset_Depreciation",
                    "Identifier": "AccFixedAssetDepreciation",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_PriorYearAdjustment",
                    "Identifier": "AccPriorYearAdjustment",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_FundControl_ZoneWise_Approver",
                    "Identifier": "AccFundControlZoneWiseApprover",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_Cost_Centre_DepreciationOpeningBalance",
                    "Identifier": "AccCostCentreDepreciationOpeningBalance",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_BudgetCircular",
                    "Identifier": "AccBudgetCircular",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_Budget_ForDepartment",
                    "Identifier": "AccBudgetCreation",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_Budget_ForDepartment_Detail",
                    "Identifier": "BudgetCreationApproval",
                    "Module": "Transaction/AccBudgetCreation",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.PRM_Division",
                    "Identifier": "PrmDepartment",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_BudgetApprovalHistory",
                    "Identifier": "AccBudgetApprovalHistory",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Acc_BudgetZoneApprover",
                    "Identifier": "AccBudgetZoneApprover",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_ReportType",
                    "Identifier": "AccReportType",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_ReportTypeGroupSetup",
                    "Identifier": "AccReportTypeGroupSetup",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_ReportTypeCOAMapping",
                    "Identifier": "AccReportTypeCoaMapping",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_ReportTypeCostCenterMapping",
                    "Identifier": "AccReportTypeCostCenterMapping",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_ReportTypeGroupOpeningBalance",
                    "Identifier": "AccReportTypeGroupOpeningBalance",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_MoneyReceiptDatails",
                    "Identifier": "AccMoneyReceiptDatails",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_ibcs_jsondata_history",
                    "Identifier": "AccIbcsJsondataHistory",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_FixedAssetsManualInput",
                    "Identifier": "AccFixedAssetsManualInput",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_Budget",
                    "Identifier": "AccBudget",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_BudgetDetails",
                    "Identifier": "AccBudgetDetails",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_FixedAsset_Refurbishment",
                    "Identifier": "AccFixedAssetRefurbishment",
                    "Module": "Transaction",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_GovtLoanReport",
                    "Identifier": "AccGovtLoanReport",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_AdvanceDepositeReport",
                    "Identifier": "AccAdvanceDepositeReport",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_CashFlowAdvTaxReport",
                    "Identifier": "AccCashFlowAdvTaxReport",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_ARDoubtfulDebts",
                    "Identifier": "AccArDoubtfulDebts",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_FinancialReportsDetails",
                    "Identifier": "AccFinancialReportsDetails",
                    "Module": "Configurations",
                    "ConnectionKey": "ACCDB",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "Default",
            "ConnectionString": "Data Source=TVLLAP20; Initial Catalog=ACC_Default_v1; User Id=sa; Password=sa1234;Connection Timeout=60;",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.AuditLog",
                    "Identifier": "AuditLog",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "ERP_BEPZA_24ConnectionString",
            "ConnectionString": "Data Source=PC88\\SQL2012;Initial Catalog=ERP_BEPZA_MServer;User ID=sa;Password=sa1234;Encrypt=False;TrustServerCertificate=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        }
    ],
    "KDiff3Path": "C:\\Program Files\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\VistaGL\\VistaGL.Web\\VistaGL.Web.csproj",
    "BaseRowClasses": [
        {
            "ClassName": "NRow",
            "Fields": [
                "createdUserDate",
                "createdUserId",
                "updatedUserDate",
                "updatedUserId"
            ]
        }
    ],
    "RemoveForeignFields": [
        "createdUserDate",
        "createdUserId",
        "updatedUserDate",
        "updatedUserId"
    ],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}