
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Transaction.AccVoucherDtlBillRef.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new VistaGL.Transaction.AccVoucherDtlBillRefGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>