@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Configurations.AccCashFlowAdvTaxReport.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new VistaGL.Configurations.AccCashFlowAdvTaxReportGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>