
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Configurations.AccCostCentreDepreciationOpeningBalance.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new VistaGL.Configurations.AccCostCentreDepreciationOpeningBalanceGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>