
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Transaction.AccTransactionTypeAssignMaster.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new VistaGL.Transaction.AccTransactionTypeAssignMasterGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>

<link href="~/Content/jsTree/themes/default/style.css" rel="stylesheet" />
<script src="~/Scripts/jsTree3/jstree.js"></script>
