
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Configurations.AccCoACostCenterOpeningBalance.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new VistaGL.Configurations.AccCoACostCenterOpeningBalanceGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>